<!DOCTYPE html>
<html lang="en">
<head>
    title Registration
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="reg.css")
   
    
</head>
<body>
    
    div(class="container")
        div(class="block")
            
            section(class="block__item block-item")
                h2(class="block-item__title") У вас уже есть аккаунт?
                button(class="block-item__btn signin-btn")Войти

            section(class="block__item block-item")
                h2(class="block-item__title")У вас нет аккаунта?
                button(class="block-item__btn signup-btn") Зарегистрироваться

        div(class="form-box")

            form(action="#" class="form form_signin")
                h3(class="form__title")Вход
                p
                    input(type="text" class="form__input" placeholder="Логин")
                p
                    input(type="password" class="form__input" placeholder="Пароль")

                p
                    button(class="form__btn") Войти
                p
                    a(href="" class="form__forgot") Восстановить пароль 

            form(action="#" class="form form_signup")
                h3(class="form__title") Регистрация

                p
                    input(type="text" class="form__input" placeholder="Логин")
                p
                    input(type="email" class="form__input" placeholder="Email")
                p
                    input(type="password" class="form__input" placeholder="Пароль")
                <p>
                    input(type="password" class="form__input" placeholder="Подтвердите пароль")
                p
                    button(class="form__btn form__btn_signup") Зарегистрироваться


 




        



    script(src="main.js" defer)
</body>
</html>